$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semi: 600;
$fw_bold: 700;
$fw_extra: 800;

$fast: 0.25s cubic-bezier(.5, 0, 0, 1);
$slow: 0.5s cubic-bezier(.5, 0, 0, 1);

$dark: #1b1b1b;
$gold: #cda173;
$gold_hover: #b38a5f;
$border_light: #e5e5e5;
$grey_light: #c8c8c8;

$back_grey: #bebebe;
$back_light: #f5f5f5;

$separ_phone: 32px;
$separ: 6.8vw;
$separ_small: 3.4vw;

@mixin for-phone-small {
	@media (max-width: 359px) {
		@content;
	}
}

@mixin for-phone-small-down {
	@media (max-width: 359px) {
		@content;
	}
}

@mixin for-phone-vertical {
	@media (max-width: 575px) {
		@content;
	}
}

@mixin for-phone-vertical-down {
	@media (max-width: 575px) {
		@content;
	}
}

@mixin for-phone-horizontal {
	@media (min-width: 576px) and (max-width: 767px) {
		@content;
	}
}

@mixin for-phone-horizontal-up {
	@media (min-width: 576px) {
		@content;
	}
}

@mixin for-phone-horizontal-down {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin for-phone {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin for-phone-down {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin for-tablet-vertical {
	@media (min-width: 768px) and (max-width: 991px) {
		@content;
	}
}

@mixin for-tablet-vertical-up {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin for-tablet-vertical-down {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin for-tablet-horizontal {
	@media (min-width: 992px) and (max-width: 1199px) {
		@content;
	}
}

@mixin for-tablet-horizontal-up {
	@media (min-width: 992px) {
		@content;
	}
}

@mixin for-tablet-horizontal-down {
	@media (max-width: 1199px) {
		@content;
	}
}

@mixin for-tablet-up {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin for-tablet {
	@media (min-width: 768px) and (max-width: 1199px) {
		@content;
	}
}

@mixin for-tablet-down {
	@media (max-width: 1199px) {
		@content;
	}
}

@mixin for-laptop {
	@media (min-width: 1200px) and (max-width: 1399px) {
		@content;
	}
}

@mixin for-laptop-up {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin for-laptop-down {
	@media (max-width: 1399px) {
		@content;
	}
}

@mixin for-desktop {
	@media (min-width: 1400px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: 1400px) {
		@content;
	}
}