@import './1-const.scss';

.about {
	&__more {
		&-button {
			padding: 0;
			background-color: transparent;
			border: none;
			color: $gold;
			font-weight: $fw_regular;
			margin-top: 1.5rem;

			@include for-laptop-up {
				&:hover {
                    color: $gold_hover;
				}
			}
		}
	}
}