@import './1-const.scss';

.city {

	&__block {
		@include for-tablet-vertical-down {
			display: none;
		}
	}

	&__title {
		flex-basis: 100%;
		max-width: 100%;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: $fw_medium;
		padding: 0 32px 32px;
	}

	&__map {
		position: relative;
		flex-basis: 100%;
		max-width: 100%;
		background-image: url('../images/fonmap.png');
		background-size: cover;
		background-position: center;

		&-body {
			display: block;
			overflow: visible;
		}

		&-node {
			font-weight: $fw_medium;
		}
	}
}