@import './1-const.scss';

.feedback {
	background-color: $gold;

	&__input,
	&__textarea {
		background-color: $gold_hover;

		&:focus {
			background-color: rgba($gold_hover, 0.6);
			border-color: rgba(#000000, 0.1);
		}

		&::placeholder {
			color: rgba(#000000, 0.8);
		}
	}

	&__more {
		margin-top: 2rem;

		&-area {
			flex-grow: 1;
		}
	}

	&__textarea {
		min-height: 100%;
	}

	&__group {
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}
	}

	&__button {
		width: 100%;
	}
}