@import './1-const.scss';

.menu {
  opacity: 0;
  visibility: hidden;
  transition: $slow;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark;

  @include for-tablet-vertical-up {
    background-color: rgba(#000000, 0.9);
  }

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &__header {
    height: 102px;
    min-height: 102px;

    @include for-phone {
      display: none;
    }

    @include for-desktop {
      height: $separ;
      min-height: $separ;
    }

    &-link {
      display: block;
      height: 100%;
      width: 10vw;

      img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 16px;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__footer {
    height: 102px;
    min-height: 102px;
    color: #ffffff;
    display: flex;

    @include for-phone {
      display: none;
    }

    @include for-desktop {
      height: $separ;
      min-height: $separ;
    }

    &-lang {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10vw;
      min-width: 10vw;
      font-weight: $fw_medium;
    }
  }

  &__body {
    flex-grow: 1;
    overflow: auto;
    padding-top: 72px;

    @include for-tablet-vertical {
      padding-top: 102px;
    }

    @include for-phone-horizontal-up {
      margin: 0 calc(10vw + 1px);
      display: flex;
    }

    @include for-tablet-vertical-up {
      margin-top: -102px;
      margin-bottom: -102px;
      background-color: #000000;
      z-index: 3;
    }

    @include for-tablet-horizontal-up {
      padding-top: 0;
      margin-right: 50vw;
    }

    @include for-desktop {
      margin-top: -$separ;
      margin-bottom: -$separ;
    }
  }

  &__list {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 72px;
    line-height: 1.4;

    @include for-phone-horizontal-up {
      padding-right: 0;
    }

    @include for-tablet-horizontal-up {
      margin-top: auto;
      margin-bottom: auto;
    }

    &-link {
      display: block;
      padding: 12px 12px 12px 24px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: $fw_medium;

      @include for-tablet-horizontal-up {
        padding: 8px 8px 8px 36px;
        font-size: 0.9rem;
      }

      @include for-laptop {
        font-size: 0.8rem;
        line-height: 1;
      }

      &:hover {
        color: $gold;
      }

      &.parent {
        padding-bottom: 8px;

        @include for-tablet-horizontal-up {
          padding-bottom: 4px;
        }
      }

      &.active,
      &.has {
        color: $gold;
      }
    }
  }

  &__sublist {
    padding-bottom: 0.8rem;

    &-link {
      display: block;
      padding: 6px 12px 6px 24px;
      color: $grey_light;

      @include for-tablet-horizontal-up {
        padding: 4px 4px 4px 36px;
        font-size: 0.9rem;
      }

      @include for-laptop {
        font-size: 0.8rem;
        line-height: 1.1;
      }

      &:hover {
        color: $gold;
      }

      &.active,
      &.has {
        color: $gold;
      }
    }
  }

  &-open {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 1;

    @include for-phone {
      margin-bottom: -32px;
    }

    @include for-tablet-up {
      position: fixed;
      left: 0;
      top: 0;
      width: 10%;
      height: 100%;
      flex-direction: column-reverse;
    }

    @include for-laptop-up {
      &:hover {
        .menu-open {
          &__icon {
            &-top {
              margin-left: 12px;
              height: 42px;
            }

            &-bottom {
              margin-right: 12px;
              height: 42px;
            }
          }
        }
      }
    }

    &__icon {
      width: 27px;
      height: 42px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include for-phone {
        transform: rotate(90deg);
      }

      &-top,
      &-center,
      &-bottom {
        width: 3px;
        height: 32px;
        background-color: #000000;

        @include for-tablet-up {
          background-color: $gold;
        }

        @include for-laptop-up {
          transition: $slow;
        }
      }

      &-center {
        height: 42px;
      }
    }

    &__text {
      @include for-phone {
        display: none;
      }

      @include for-tablet-up {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: $fw_medium;
        color: $gold;
        font-size: 1.2rem;
        margin-top: 12px;
      }
    }
  }

  &-close {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 8px;
    display: block;
    width: 72px;
    height: 72px;
    background-color: transparent;
    background-image: url('../icons/white/close.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;

    @include for-phone-horizontal-up {
      top: 14px;
      width: 10vw;
      height: 10vw;
    }

    @include for-tablet-vertical {
      height: 84px;
      top: 8px;
    }

    @include for-tablet-horizontal-up {
      right: 10vw;
      top: 102px;
      width: 40vw;
      height: calc(100vh - 204px);
      background-position: top 24px right 24px;
    }

    @include for-desktop {
      top: 7.2vw;
    }

    &.active {
      opacity: 1;
      visibility: visible;

      @include for-laptop-up {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .lang {
    color: #ffffff;
    position: fixed;
  }

  &__callback {
    position: fixed;
    left: 24px;
    top: 24px;
    width: calc(100% - 96px);
    box-shadow: 0 0 0 24px $dark;

    @include for-phone-horizontal {
      left: calc(10vw + 24px);
      width: calc(100% - 20vw - 48px);
    }

    @include for-tablet-vertical {
      top: 28px;
      left: calc(10vw + 25px);
      width: calc(100% - 20vw - 50px);
      box-shadow: 0 -4px 0 24px #000000;
    }

    @include for-tablet-horizontal-up {
      top: auto;
      left: 70vw;
      bottom: 24px;
      box-shadow: none;
      width: calc(40vw - 48px);
      margin-left: calc(-20vw + 24px);
      height: calc(102px - 48px);
    }

    @include for-desktop-up {
      height: calc(6.8vw - 48px);
    }
  }

  .social {
    &__list {
      position: fixed;
      flex-direction: column;
      margin: 0;

      @include for-phone-vertical {
        right: 0;
        top: 40%;
        width: 72px;
        transform: translateY(-50%);
      }

      @include for-phone-horizontal {
        left: 0;
        bottom: 20px;
        width: 10vw;
      }

      @include for-tablet-vertical {
        left: 0;
        bottom: 102px;
        width: 10vw;
        margin-bottom: 20px;
      }

      @include for-tablet-horizontal-up {
        left: 70vw;
        top: 0;
        flex-direction: row;
        top: 34px;
        transform: translateX(-50%);
      }

      @include for-desktop-up {
        top: 2.4vw;
      }

      &-point {
        padding: 4px 0;

        @include for-tablet-horizontal-up {
          padding: 0 4px;
        }
      }
    }

    &__item {
      width: 32px;
      height: 36px;

      @include for-phone {
        width: 24px;
        height: 24px;
      }

      &--telegram {
        background-image: url('../icons/white/telegram-trans.svg');

        @include for-laptop-up {
          &:hover {
            background-image: url('../icons/gold/telegram-trans.svg');
          }
        }
      }

      &--behance {
        background-image: url('../icons/white/behance-trans.svg');

        @include for-laptop-up {
          &:hover {
            background-image: url('../icons/gold/behance-trans.svg');
          }
        }
      }

      &--youtube {
        background-image: url('../icons/white/youtube-trans.svg');

        @include for-laptop-up {
          &:hover {
            background-image: url('../icons/gold/youtube-trans.svg');
          }
        }
      }

      &--instagram {
        background-image: url('../icons/white/instagram-trans.svg');

        @include for-laptop-up {
          &:hover {
            background-image: url('../icons/gold/instagram-trans.svg');
          }
        }
      }

      &--facebook {
        background-image: url('../icons/white/facebook-trans.svg');

        @include for-laptop-up {
          &:hover {
            background-image: url('../icons/gold/facebook-trans.svg');
          }
        }
      }

      &--vk {
        background-image: url('../icons/white/vk-trans.svg');

        @include for-laptop-up {
          &:hover {
            background-image: url('../icons/gold/vk-trans.svg');
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  .menu {
    &-open {
      @include for-tablet-up {
        left: auto;
        right: 0;
      }
    }

    &-close {
      right: auto;
      left: 0;

      @include for-tablet-horizontal-up {
        left: 10vw;
        background-position: top 24px left 24px;
      }
    }

    &__body {
      @include for-tablet-vertical-up {
        margin-left: calc(10vw + 1px);
      }

      @include for-tablet-horizontal-up {
        margin-right: calc(10vw + 1px);
        margin-left: calc(50vw + 1px);
      }
    }

    &__list {
      padding-right: 0;
      padding-left: 72px;

      @include for-phone-horizontal-up {
        padding-left: 0;
      }

      &-link {
        padding: 12px 24px 12px 12px;

        @include for-tablet-horizontal-up {
          padding: 8px 36px 8px 8px;
        }
      }
    }

    &__sublist {
      &-link {
        padding: 6px 24px 6px 12px;

        @include for-tablet-horizontal-up {
          padding: 4px 36px 4px 4px;
        }
      }
    }

    &__footer {
      &-lang {
        margin-left: 0;
        margin-right: auto;
      }
    }

    &__callback {
      left: 72px;

      @include for-phone-horizontal {
        left: calc(10vw + 24px);
      }

      @include for-tablet-vertical {
        left: calc(10vw + 25px);
      }

      @include for-tablet-horizontal-up {
        left: 30vw;
      }
    }

    .social {
      &__list {
        @include for-phone-vertical {
          right: auto;
          left: 0;
        }

        @include for-phone-horizontal {
          left: auto;
          right: 0;
        }

        @include for-tablet-vertical {
          left: auto;
          right: 0;
        }

        @include for-tablet-horizontal-up {
          left: 30vw;
        }
      }
    }
  }
}
