@import './1-const.scss';

.social {

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 32px -8px 0;

		@include for-phone-horizontal-up {
			justify-content: flex-start;
		}

		&-point {
			padding: 0 8px;
		}
	}

	&__item {
		display: block;

		&-image {
			display: block;
			width: 32px;
			height: 32px;
			object-fit: contain;
			object-position: center;
		}
	}

	.section {
		&__body {
			align-items: center;
		}
	}
}