@import './1-const.scss';

@keyframes tabs-after {
	0% {
		left: 0;
		width: 100%;
	}

	100% {
		left: 50%;
		width: 50%;
	}
}

.tabs {

	&__list {
		flex-wrap: nowrap;
		background-color: $back_grey;

		&-point {
			width: 100%;

			@include for-tablet-vertical-down {
				border-right: 2px solid $dark;
			}

			&:last-child {
				border-right: none;
			}
		}

		&-button {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			height: 100%;
			padding: 8px;
			background-color: $back_grey;
			border: none;
			font-size: 0;

			@include for-tablet-vertical-down {
				background-color: #ffffff;
				min-height: $separ_phone;
			}

			@include for-tablet-horizontal-up {
				font-size: 0.9rem;
				line-height: 1.2;
				font-weight: $fw_medium;
				padding: 16px 24px;
				min-height: $separ;
			}

			@include for-laptop-up {
				&:hover {
					background-color: rgba(#ffffff, 0.4);
				}
			}

			&.active {
				background-color: $gold;

				@include for-tablet-horizontal-up {
					background-color: #ffffff;
				}
			}
		}
	}

	&__item {
		display: none;
		position: relative;
		background-size: cover;
		background-position: center;

		&.active {
			display: block;

			&::after {
				animation: tabs-after 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
				animation-iteration-count: 1;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000000, 0.6);

			@include for-tablet-horizontal-up {
				background-color: rgba(#000000, 0.4);
			}
		}

		&::after {
			@include for-tablet-horizontal-up {
				content: '';
				position: absolute;
				left: 50%;
				top: 0;
				width: 50%;
				height: 100%;
				background-color: $dark;
			}
		}

		&-content {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				background-color: $dark;
			}
		}
	}

	.section {
		&__body {
			position: relative;
			z-index: 1;
		}
	}
}