@import './1-const.scss';

.template-team {
	.header {
		min-height: calc(100vh - 70px);

		@include for-tablet-vertical-up {
			min-height: 100vh;
		}

		.section {
			&__content {
				margin-top: auto;

				@include for-phone {
					margin-top: 0;
					padding-bottom: 32px;
				}
			}
		}
	}
}