@import './1-const.scss';

.template-arch {
	.header {
		min-height: 100vh;

		.section {
			&__header {
				margin-top: auto;

				@include for-phone {
					padding-bottom: 64px;
					position: relative;
					top: 0;
				}
			}

			&__body {
				padding-bottom: 0;

				&-col {
					@include for-phone-vertical {
						padding-top: 96px;
					}
				}
			}
		}

		.lang {
			color: #ffffff;
		}
	}

	.menu {
		&-open {
			@include for-phone {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
			}

			&__icon {

				&-top,
				&-center,
				&-bottom {
					@include for-phone {
						background-color: #ffffff;
					}
				}
			}
		}
	}
}