@import './1-const.scss';

.template-worker {
	.header {
		&__footer {
			color: #ffffff;
		}

		.section {
			&__header {
				margin-top: auto;
			}

			&__back {
				&-right {
					object-position: top;
				}
			}
		}

		.lang {
			color: #ffffff;
		}
	}
}