@import './1-const.scss';
@import './1-furniture-colors.scss';

.template-furniture {
	.header {
		min-height: 100vh;
		background-color: $back_grey;

		.section {

			&__back {
				z-index: 0;
				left: auto;
				top: auto;
				right: 0;
				bottom: 0;
				width: 40%;
				height: 100%;
				object-fit: contain;
				object-position: bottom;

				@include for-phone-vertical {
					width: 65%;
				}
			}

			&__header {
				position: sticky;
				top: 32px;
				margin-top: auto;

				@include for-phone {
					margin-bottom: auto;
					padding-bottom: 32px;
					position: relative;
					top: 0;
				}
			}

			&__body {
				padding-bottom: 0;
			}
		}
	}

	.menu {
		&-open {
			@include for-phone {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
	}

	.feedback {
		.section {
			&__content {
				padding-top: 0;
			}
		}
	}

	.section {
		&__header {
			position: relative;
			top: 0;
		}

		&__content {
			padding-top: 64px;
		}

		&--back {
			.section {
				&__header {
					position: sticky;
					top: 32px;

					@include for-phone {
						margin-top: auto;
						position: relative;
						top: 0;
					}
				}

				&__body {
					flex-grow: 1;
				}

				&__buttons {
					margin-bottom: auto;

					@include for-tablet-vertical-up {
						display: none;
					}
				}
			}
		}
	}
}