@import './1-const.scss';

.youtube {
	&__header {
		margin-bottom: 32px;
	}

	&__slide {
		height: 100%;

		@include for-tablet-horizontal-up {
			display: flex;
		}

		&-header {
			display: block;
			position: relative;

			@include for-tablet-horizontal-up {
				flex-basis: 50%;
				max-width: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#000000, 0.4);
				background-image: url('../icons/white/youtube.svg');
				background-position: center;
				background-size: 64px auto;
				background-repeat: no-repeat;
				transition: $slow;
			}

			@include for-laptop-up {
				&:hover {
					&::before {
						background-color: rgba(#000000, 0.2);
					}
				}
			}

		}

		&-image {
			display: block;
			width: 100%;

			@include for-tablet-horizontal-up {
				min-height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}

		&-body {
			padding: 24px;

			@include for-tablet-vertical-up {
				padding: 32px;
			}

			@include for-tablet-horizontal-up {
				flex-basis: 50%;
				max-width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@include for-laptop-up {
				padding: 64px;
			}
		}

		&-title {
			font-weight: $fw_semi;
			text-transform: uppercase;
			font-size: 0.9rem;
			line-height: 1.4;

			@include for-tablet-horizontal {
				font-size: 1rem;
			}

			@include for-laptop-up {
				font-size: 1.1rem;
			}
		}

		&-desc {
			margin-top: 1rem;
		}

		&-date {
			margin-top: 1rem;
			color: $gold;
		}
	}

	&__arrow {
		position: absolute;
		z-index: 1;
		top: calc(56vw / 2);
		width: 48px;
		height: 48px;
		margin-top: -24px;
		background-color: transparent;
		background-position: center;
		background-size: auto 42px;
		background-repeat: no-repeat;
		border: none;
		padding: 0;

		@include for-phone-horizontal-up {
			top: (65vw / 2 - 10vw);
		}

		@include for-tablet-vertical-up {
			width: 56px;
			height: 56px;
			background-size: auto 48px;
			margin-top: -28px;
		}

		@include for-tablet-horizontal-up {
			top: 50%;
		}

		&--next {
			right: 0;
			background-image: url('../icons/white/arrow-next.svg');

			@include for-tablet-horizontal-up {
				right: 50%;
			}

			@include for-laptop-up {
				&:hover {
					background-position: right 8px top 50%;
				}
			}
		}

		&--prev {
			left: 0;
			background-image: url('../icons/white/arrow-prev.svg');

			@include for-laptop-up {
				&:hover {
					background-position: left 8px top 50%;
				}
			}
		}

		&.swiper-button {
			&-disabled {
				opacity: 0.2;
				background-position: left 50% top 50%;
			}
		}
	}

	&__swiper {
		&-slide {}
	}
}