@import '../1-const.scss';

.crumbs {
  font-size: 0.8rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 24px -6px 0;
    color: inherit;
    opacity: 0.8;

    @include for-phone {
      justify-content: center;
      margin-top: 16px;
    }

    &-point {
      position: relative;
      padding: 0 6px;

      &::before {
        content: '/';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(50%);
        opacity: 0.8;
        font-size: 0.7rem;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }

      &.active {
        a {
          color: $dark !important;
          text-decoration: none;
          pointer-events: none;
        }
      }
    }
  }

  &__item {
    color: inherit;
    font-weight: $fw_regular;

    &:hover {
      color: $gold_hover;
    }
  }
}

[dir='rtl'] {
  .crumbs {
    &__list {
      &-point {
        &::before {
          right: auto;
          left: 0;
          margin-left: -4px;
        }
      }
    }
  }
}
