@import '../1-const.scss';

[dir='rtl'] {
  .fancybox {
    &-container {
      * {
        direction: rtl;
      }
    }
    &-infobar {
      right: 0;
      left: auto;
    }

    &-toolbar {
      right: auto;
      left: 0;
    }
    &-navigation .fancybox-button {
      transform: rotate(180deg);

      &--arrow_left {
        right: 0;
        left: auto;
      }
      &--arrow_right {
        right: auto;
        left: 0;
      }
    }
  }
}
