.grid-line {
	display: none;

	@include for-phone-horizontal-up {
		display: block;
		position: fixed;
		z-index: 1;
		min-height: 100%;
		margin: 0;
		color: $border_light;
		background-color: $border_light;
		width: 1px;
		height: 100%;
		border: none;

		&--left {
			left: 10vw;
		}

		&--center {
			left: 50%;

			@include for-tablet-vertical-down {
				display: none;
			}
		}

		&--right {
			right: 10vw;
		}
	}
}