.grid-line {
	display: none;

	@include for-phone-horizontal-up {
		display: block;
		position: fixed;
		z-index: 2;
		min-height: 100%;
		margin: 0;
		color: $border_light;
		background-color: $border_light;
		width: 1px;
		height: 100%;
		border: none;

		&--left {
			left: 10vw;
		}

		&--center {
			z-index: 1;
			left: 50%;

			@include for-tablet-vertical-down {
				display: none;
			}
		}

		&--right {
			right: 10vw;
		}
	}
}

.grid-row {
	position: relative;
	z-index: 2;
	display: none;
	width: 100%;
	max-width: 100%;
	border: none;
	border-top: 1px solid $border_light;
	margin: 0;

	@include for-tablet-up {
		display: block;
	}

	&--all {
		display: block;
	}
}