.perelink {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1.2;
  font-size: 0.9rem;
  font-weight: $fw_medium;
  color: $dark;
  text-transform: uppercase;

  @include for-tablet-vertical-down {
    justify-content: center !important;
  }

  @include for-laptop-up {
    &:hover {
      background-color: transparent;
    }
  }

  @include for-desktop {
    padding: 1.2vw 1.5vw;
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.prev {
    &::before {
      background-image: url('../icons/black/arrow-prev.svg');
      margin-right: 8px;
    }

    &:hover {
      &::before {
        background-image: url('../icons/gold/arrow-prev.svg');
      }
    }
  }

  &.next {
    justify-content: flex-end;

    &::before {
      background-image: url('../icons/black/arrow-next.svg');
      margin-left: 8px;
      order: 2;
    }

    &:hover {
      &::before {
        background-image: url('../icons/gold/arrow-next.svg');
      }
    }
  }
}

[dir='rtl'] {
  .perelink {
    &::before {
      transform: rotate(180deg);
    }

    &.prev {
      &::before {
        margin-right: 0;
        margin-left: 8px;
      }
    }

    &.next {
      &::before {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}
