.section {
	position: relative;
	display: flex;
	flex-direction: column;

	@include for-phone-vertical {
		text-align: center;
	}

	&--dark {
		background-color: $dark;
		color: #ffffff;
	}

	&--light {
		background-color: $back_light;
	}

	&__separ {
		flex-basis: 32px;
		height: 32px;
		padding: 0;

		@include for-phone-horizontal-up {
			padding: 0 10vw;
		}

		@include for-tablet-horizontal-up {
			flex-basis: 7.2vw;
			height: 7.2vw;

			&--small {
				flex-basis: 3.6vw;
				height: 3.6vw;
			}
		}

		&--top,
		&--bottom {
			display: none;

			@include for-tablet-up {
				display: block;
				flex-basis: 7.2vw;
				height: 7.2vw;
			}

		}

		&--top {
			border-top: 1px solid $border_light;
		}

		&--bottom {
			border-bottom: 1px solid $border_light;
		}

		&--center {
			height: 0;
			min-height: 0;
			flex-basis: 0;
			border-top: 1px solid $border_light;
			margin: 32px 0;

			@include for-tablet-horizontal-up {
				margin: 7.2vw 0;
			}
		}
	}

	&__body {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		@include for-phone-horizontal-up {
			padding: 0 10vw;
		}

		@include for-tablet-horizontal-up {
			flex-grow: 1;
		}

		&-col {
			flex-basis: 100%;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			padding: 32px;

			@include for-tablet-horizontal-up {
				flex-basis: 50%;
				max-width: 50%;
			}

			&.fullwidth {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}

	&__header {
		position: sticky;
		top: 32px;

		&-title {
			position: relative;
			line-height: 1.2;
			font-size: 2rem;
			text-transform: uppercase;
			font-weight: $fw_regular;
			padding-bottom: 1rem;

			@include for-phone-vertical {
				padding-bottom: 0;
			}

			@include for-tablet {
				font-size: 2.4rem;
			}

			@include for-laptop {
				font-size: 2.6rem;
			}

			@include for-desktop {
				font-size: 2.8rem;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				height: 8px;
				width: 128px;
				background-color: $gold;

				@include for-phone-vertical {
					z-index: -1;
					left: 50%;
					bottom: 4px;
					margin-left: -64px;
				}
			}

			strong {
				display: block;
				font-weight: $fw_extra;
			}
		}

		&-subtitle {
			margin-top: 1rem;
			text-transform: uppercase;
			font-weight: $fw_medium;
		}
	}

	&__content {

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__buttons {
		margin-top: 4rem;

		.button {
			@include for-phone {
				width: 100%;
			}
		}

		&-point {
			margin-bottom: 1.6rem;

			&:last-child {
				margin-bottom: 0;
			}

			.button {
				width: 100%;
			}
		}
	}
}