.section {
	position: relative;
	display: flex;
	flex-direction: column;

	@include for-phone-vertical {
		text-align: center;
	}

	&--dark {
		background-color: $dark;
		color: #ffffff;
	}

	&--light {
		background-color: $back_light;
		border-top: 1px solid $border_light;
		border-bottom: 1px solid $border_light;
	}

	&--back {
		color: #ffffff;
		min-height: 80vh;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000000, 0.4);
			z-index: 0;
			pointer-events: none;
		}
	}

	&__back {
		position: absolute;
		z-index: -2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

		&-left,
		&-right {
			margin: 0 -32px;
			max-width: calc(100% + 32px + 32px);

			@include for-phone-horizontal-up {
				margin: 0;
				width: 100%;
				max-width: 100%;
			}

			@include for-tablet-horizontal-up {
				position: absolute;
				top: 0;
				width: 50%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				margin: 0;
			}
		}

		&-left {
			@include for-tablet-up {
				left: 0;
			}
		}

		&-right {
			@include for-tablet-up {
				left: 50%;
			}
		}

		&-wrapper {
			@include for-tablet-horizontal-up {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-left: 10vw;
			}
		}

		&-inner {
			width: 100%;
			max-width: 30vw;

			@include for-tablet-horizontal {
				max-width: 20vw;
			}

			@include for-laptop-up {
				max-width: 15vw;
			}
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		@include for-phone-horizontal-up {
			padding: 0 10vw;
		}

		@include for-tablet-horizontal-up {
			flex-grow: 1;
		}

		&-col {
			flex-basis: 100%;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			padding: 32px;

			@include for-tablet-horizontal-up {
				flex-basis: 50%;
				max-width: 50%;
			}

			@include for-laptop-up {
				padding-left: 64px;
				padding-right: 64px;
			}

			&.right {
				@include for-tablet-horizontal-up {
					margin-left: auto;
				}
			}

			&.fullwidth {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}

	&__header {
		position: sticky;
		top: 32px;

		@include for-laptop-up {
			top: 64px;
		}

		&-title {
			position: relative;
			line-height: 1.2;
			font-size: 1.8rem;
			text-transform: uppercase;
			font-weight: $fw_regular;
			padding-bottom: 1rem;

			@include for-phone-vertical {
				padding-bottom: 0;
			}

			@include for-phone-horizontal {
				font-size: 2rem;
			}

			@include for-tablet {
				font-size: 2.4rem;
			}

			@include for-laptop-up {
				font-size: 2.6rem;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				height: 8px;
				width: 128px;
				background-color: $gold;

				@include for-phone-vertical {
					z-index: -1;
					left: 50%;
					bottom: 4px;
					margin-left: -64px;
				}
			}

			strong {
				display: block;
				font-weight: $fw_extra;
			}
		}

		&-subtitle {
			margin-top: 1rem;
			text-transform: uppercase;
			font-weight: $fw_medium;
		}
	}

	&__content {
		margin-top: auto;

		& + & {
			margin-top: 3.6rem;
		}

		p,
		ol,
		ul,
		h1,
		h2,
		h3,
		h4 {
			margin-bottom: 1.6rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h1 {
			font-size: 1.4rem;
		}

		h2 {
			font-size: 1.3rem;
		}

		h3 {
			font-size: 1.2rem;
		}

		h4 {
			font-size: 1.1rem;
		}

		a:not([class]) {
			display: inline;
			color: $gold;
			border-bottom: 1px solid $gold;
			text-decoration: none;
			transition: none;

			@include for-laptop-up {

				&:hover {
					border-color: transparent;
				}
			}
		}

		ol {
			counter-reset: ol_counter;

			li {
				position: relative;
				padding-left: 1rem;

				@include for-phone-vertical {
					padding: 1.2rem 0 0;
					margin-bottom: 1.2rem;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&:before {
					counter-increment: ol_counter;
					content: counter(ol_counter) '.';
					position: absolute;
					color: $gold;
					width: 1rem;

					@include for-phone-vertical {
						content: counter(ol_counter);
						left: 50%;
						top: 0;
						margin-left: -0.5rem;
						height: 1rem;
						line-height: 1rem;
						font-size: 1.2rem;
						font-weight: $fw_medium;
					}

					@include for-phone-horizontal-up {
						left: 0;
						top: 0;
						display: flex;
						align-items: baseline;
						height: 100%;
					}
				}
			}
		}

		ul {
			li {
				position: relative;
				padding-left: 1rem;

				@include for-phone-vertical {
					padding: 0 0 1.2rem;
					margin-bottom: 1.2rem;

					&:last-child {
						margin-bottom: 0;
						padding-bottom: 0;

						&::before {
							display: none;
						}
					}
				}

				&::before {
					content: '–';
					position: absolute;

					@include for-phone-vertical {
						content: '';
						width: 24px;
						height: 2px;
						background-color: $gold;
						margin-bottom: -1px;
						left: 50%;
						bottom: 0;
						margin-left: -12px;
					}

					@include for-phone-horizontal-up {
						left: 0;
						top: 0;
						width: 1rem;
						height: 100%;
						display: flex;
						align-items: baseline;
						color: $gold;
						font-weight: $fw_semi;
					}
				}
			}
		}

		li {
			margin-bottom: 0.6rem;

			&:last-child {
				margin-bottom: 0;

			}
		}
	}

	&__buttons {
		margin-top: 4rem;

		.button {
			width: 100%;
		}

		&-point {
			margin-bottom: 1.6rem;

			&:last-child {
				margin-bottom: 0;
			}

			.button {
				width: 100%;
			}
		}
	}
}